body {
  font-family: "Overpass", "Segoe UI", Verdana, sans-serif;
  margin: 0;
  background-color: azure;
  color: #390817;
}

#global-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#header {
  text-align: center;
}

#header h1 {
  margin-top: 0;
}

#main {
  max-width: 800px;
  margin: 2rem auto;
}

#footer {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: auto;
}

#footer ul {
  list-style-type: square;
}

#logo {
  margin: 1rem;
}

.responsive-image {
  height: 40vh;
  width: auto;
  max-width: 90%;
  object-fit: cover;
}

.tiles-container {
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  /* white-space: pre-line; */
}

.tile {
  display: flex;
  align-items: center;

  flex: 1 0 30%;
  background-color: white;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 1em;
  transition: transform 0.1s ease-in-out;

  /* height: fit-content;
  width: fit-content; */
}

.tile .tile-text {
   margin-left: 2em;
   padding-top: 0;
   padding-bottom: 0;
   margin-top: 0;
   margin-bottom: 0;
   overflow: hidden;
   max-height: 90%;
}

.tile .tile-image {
   height: 4rem;
   width: auto;
   object-fit: contain;
}

.tile:hover {
  transform: scale(1.05);
}
