body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  background-color: azure;
  color: #390817;
}

#global-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vh;
}

#title {
  text-align: center;
  margin: 0.5rem;
}

#menu-title {
  margin-top: 0rem;
  margin-left: 1rem;
}

#header {
  margin: 0.1rem;
  display: flex;
  flex-flow: row;
}

#logo {
  margin: 1rem;
  height: auto;
  max-width: 30%;
  object-fit: cover;
}

#telegram-order {
  margin: auto;
  padding: 3rem 1rem;
  height: 3rem;
  max-width: 16rem;

  background-color: white;
}

#footer {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-top: auto;
}

#footer ul {
  list-style-type: square;
}

#main {
  max-width: 800px;
  margin: 2rem auto;
}

.tiles-container {
  margin-left: 2em;
  margin-right: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  /* white-space: pre-line; */
}

.pop-tile {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 1em;
  color: initial;
  text-decoration: none;
}

.tiles-container summary img {
  display: inline-block;
}

.menu-tiles-container summary {
  font-weight: 500;
  font-size: larger;
}

.menu-tiles-container .tile {
  margin: 1rem;
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 2 2 auto;
  transition: transform 0.2s ease-in-out;

  /* height: fit-content;
  width: fit-content; */
}


.tile .tile-text {
  margin: auto;
  padding: 0 inherit;
  overflow: hidden;
  height: 4rem;
  text-align: center;
}

.tile img {
  height: 3.6em;
  width: auto;
  object-fit: contain;
}

.menu-tiles-container {
  font-size: larger;
  transition: none;
  margin-left: 1rem;

  background-color: white;
  margin-bottom: 0.5rem;
}

.menu-tiles-container img {
  height: auto;
  width: 60vw;
  object-fit: contain;
  border-radius: 1rem;
  display: block;
}

.menu-tiles-container .tile {
  flex-flow: column;
  max-width: 80vw;

  background-color: white;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);

  padding: 0.7rem;
}

.menu-text {
  overflow: hidden;
  max-height: 90%;

  font-size: larger;
  display: flexbox;
  flex-flow: row;
  margin-top: 1rem;
}

.menu-text h3 {
  box-sizing: content-box;
  margin-bottom: 0;
  display: inline;
}

.menu-price {
  background: #690015;
  color: azure;
  padding: 0.5rem;
  border-radius: 1rem;
  display: inline-block;
  margin: 0;
  margin-top: 0;
}

.action-tiles-container .tile:hover {
  transform: scale(1.05);
}
